*{margin: 0;padding: 0;box-sizing: border-box;}

:root{
	font-family: sans-serif;
	font-size: 16px;
	--a: #3a0ca3;
	--b: #4361ee;
	--c: #4cc9f0;
	--d: #f72585;
	--e: #89fed1;
}

a{
	color: #000;
	text-decoration: none;
}
li{list-style-type: none;}

body{
	background: #fff;
}

nav{
	z-index: 99;
	transition:.3s;
	width: 100%;
	padding: 2rem;
	display: flex;flex-direction: row;align-items: center;justify-content: space-between;
	background: var(--a);
}
nav span{color: var(--d);}
nav a{
	color: #ccc;
	transition: .3s;
}
nav:hover a{color: #fff;}
nav a:hover{color: var(--c);}
.navlinks a{
	margin-left: 1rem;
}
main{
	min-height: 75vh;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
footer{
	width: 100%;
	display: flex;flex-direction: column;
	align-items: center;justify-content: center;
	gap: .5rem;
	padding: 2rem;
	background: #222;
	z-index: 5;
}
footer div{
	display: flex;flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
}
footer a{
	color: #ccc;
	transition: .3s;
}
footer:hover a{
	color: #fff;
}
footer a:hover{color: var(--c);}
footer i{font-size: 1.5rem;}









.hero{
	position: relative;
	width: 100%;
	min-height: 85vh;
	height: 100%;

	display: flex;flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	/* border-radius: 0 0 0 100px; */
	background: linear-gradient(to bottom, var(--a), var(--b));
}
.hero img{
	width: 40vw;
	z-index: 1;
}
.hero-txt{
	display: flex;flex-direction: column;
	gap: .5rem;align-items: center;
	justify-content: center;
	color: #fff;
}
.hero-txt h2::first-letter{
	color:var(--e);
	margin-right: 2px;
}
.hero-txt h1{
	font-size: 4rem;
}

.btn1{
	font-size: 1rem;
	background: var(--b);
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	transition: .3s;
}
.btn1:hover{
	background: var(--d);
}

.btn2{
	font-size: 1rem;
	background: transparent;
	color: #000;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	transition: .3s;
}
.btn2:hover{
	background: var(--d);color: #fff;
}

.btn3{
	font-size: 1rem;
	background: #003;
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	transition:.3s;
}
.btn3:hover{
	background: #000;color: #888;
}

#about{
	width: 100%;
	min-height: 50vh;
	background: #111;
	padding: 6rem 0;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

#about img{
	width: 40vw;
}
.about-txt{
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 1rem;
	color: #fff;
}
.about-txt h3{
	font-size: 2rem;
}
.about-txt a,
.about-txt span{
	color: var(--d);
}
.about-txt a{text-decoration: underline;}






#steps{
	width: 100%;
	padding: 2rem;
	background:var(--b);
	color: #fff;

	display: flex;flex-direction: row;
	align-items: start;
	justify-content: center;
	flex-wrap:wrap;gap: 2rem;
	/* position: relative;
	z-index: -2; */
}
.step{
	min-width: 300px;
	width: 20%;
	overflow: hidden;
	border: 1px solid var(--c);
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 3px 10px var(--a);
	background: var(--b);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 1rem;
	transition: .3s;
}
.step:hover{
	transform:scale(1.1)
}
.icon{font-size: 2.5rem;}
.step h3{
	font-size: 1.5rem;
	text-align: center;
}
.step p{text-align: center;}
.step span{color: var(--e);}






button{border:none}


.auth{
	width: 100%;
	min-height: 75vh;
	display: flex;flex-direction: column;gap: 1rem;

	align-items: center;
	justify-content: center;
	padding: 1rem;
	background: #111;
}
.auth form{
	display: flex;
	flex-direction: column;
	gap: .5rem;
	align-items: start;
	justify-content: start;
	padding: 1rem;
	/* box-shadow: 0 5px 10px #333; */
	border: 1px solid #333;
	background: #fff;
	border-radius: 10px;
	width: 40vw;
}
.auth form input{
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	background: #f1f1f1;
	font-size: 1rem;
	border:none;
}
input{
	padding: 10px;
	border-radius: 5px;
	background: #f1f1f1;
	font-size: 1rem;
	border: none;
}
.auth-actions{
	width: 100%;
	display: flex;flex-direction: row;
	gap: 1rem;
	align-items: center;
	flex-wrap:wrap;
	margin-top: .5rem;
}







.courses{
	background: var(--a);
	color: #fff;
}



@keyframes showR {
	0%{
		opacity: .5;
		transform:translateX(50vw);
	}

	100%{
		opacity: 1;
		transform:translateX(0)
	}
}