{% extends "base.html" %}
{% block title %}{{course.name}}{% endblock title %}
{% load static %}
{% block styles %}
	<style>
		.course{
			width: 100%;overflow: hidden;
			height: 100%;
			display: flex;flex-direction: row;
			background: var(--a);
		}
		.course span{color: var(--e);}
		.course-l{
			background: var(--a);
			width: 50vw;
			height: 85vh;
			overflow-y: scroll;
			display: flex;flex-direction: column;
			align-items: center;justify-content: start;
			color: #fff;
			padding: 1rem 0;
		}
		.course-l h1{
			text-align: center;margin-bottom: 2rem;
		}
		.course-l img{
			width: 80%;
			margin-bottom: 2rem;
			border-bottom:1px solid var(--c);padding-bottom: 2rem;
			/* transform: rotate(-5deg) translateY(2rem); */
		}
		.course-info{
			background: #fff;
			width: 50vw;
			padding: 2rem;
			animation: showR .5s ease-out;
		}
		.course-info p{color: #888;margin-top: .5rem;margin-bottom: .5rem;}

		.course-l video{
			width: 80%;margin-top: 1rem;
			border-top: 1px solid var(--c);
			padding-top: 2rem;
		}
		.test-button{
			padding: .5rem;border-radius: 5px;
			background: #400;color: #fff;
			width: 100%;text-align: center;
			margin-top: .5rem;
		}
	</style>
{% endblock styles %}

{% block main %}
    <section class="course">
    	<div class="course-l">
    		<img src="{{course.thumb.url}}" alt="{{course.name}}">
    		
    		<h1>{{course.name}}</h1>

    		<p><span>$25</span> and you'll keep it forever.</p>

    		{% if first_video != None %}
    		<h3>Here you have a quick peek:</h3>
    		    
    		<video class="sneekpeek" controls autoplay="autoplay" loop>
    			<source src="{{first_video}}" type="video/mp4">
    		</video>
    		{% endif %}

    		
    	</div>
    	
    	<div class="course-info">
    		<h4>Introduction:</h4>

    		<p>{{course.description}}</p>

    		<h4>Length:</h4>

    		<p>10 videos</p>

    		<h4>Video Length:</h4>

    		<p>60 minutes</p>

    		<h4>Price:</h4>

    		<p>$ 25</p>

    		<div id="paypal-button-container"></div>
    		<p class="test-button">Warning: this is a test button!</p>
    	</div>
    </section>
{% endblock main %}

{% block scripts %}
	<script src="https://www.paypal.com/sdk/js?client-id=AQkqf5Ad-9tc8qiT_y5RBBJyQdWcFz_oyzzdgJYNYyVVPJVqewjXFPrzrPXVO1mefUi7gbdxO1S15yrF&components=buttons"></script>
    <script>
    	paypal.Buttons({
			style: {
				layout: 'vertical',
				color:  'blue',
				shape:  'rect',
				label:  'paypal'
			},
			createOrder: function(data, actions){
				return actions.order.create({
					purchase_units: [{
						amount: {
							value: '25'
						}
					}]
				});
			},
			onApprove: function(data, actions) {
				return actions.order.capture().then(function(details) {
        // This function shows a transaction success message to your buyer.
					const csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
		            
		            fetch('{% url "course-payment" course.id %}', {
		            	method: 'POST',
		    			headers: {
		    				'Content-Type': 'application/json',
							'X-CSRFToken': csrftoken
		    			},
		    			body: JSON.stringify({orderID: details.id})
		            })
		            .then(response => {
		            	console.log(response)
		            	alert('Transaction completed by ' + details.payer.name.given_name);
		            	window.location.assign("/courses");
		            })
		            .catch(error => {
		            	console.error(error)
		            })
		        });
			},
			onCancel: function(data){
				alert('Payment cancelled.')
			}
		}).render('#paypal-button-container');
    </script>
{% endblock scripts %}