{% extends "base.html" %}
{% block title %}
    Log In
{% endblock title %}

{% block styles %}
    <style>
        .auth h1{color: #fff;}
    </style>
{% endblock styles %}

{% block main %}
    <section class="auth">
        <h1>Log In</h1>
    	<form action="." method="post">
    		{% csrf_token %}
    		{{form}}
    		<div class="auth-actions">
    			<button class="btn1">Log In</button>
                <p>or</p>
    			<a href="{% url 'signup' %}" class="btn2">Sign Up</a>
    		</div>
    	</form>
    </section>
{% endblock main %}